{% load i18n %}

<script type="text/javascript">
    $(document).ready(function () {
        var auth = $(".auth");
        var loginLink = $('.auth a.login-link');
        loginLink.removeAttr("href");
        loginLink.mouseup(function(login){auth.toggleClass('open');});
        $('.auth .login-form form').mouseup(function(){ return false; });
        $(this).mouseup(function(evt){
            if($(evt.target).parent('.auth .login-link').length < 1 && $(evt.target).parent('.auth .login').length < 1){
                auth.removeClass('open');
            }
        });

        var inputs = $('.auth .login-form  .login-box input[type=text], .auth .login-form .pwd-box input[type=password]');
        if(inputs.length > 0){
            var f = function(){
                $(this).removeClass('empty');
            }
            var b = function(){
                if($(this).val()=='')
                    $(this).addClass('empty');
            }
            inputs.each(b).focus(f).blur(b);
        }
    });
</script>
<div class="auth">
<ul >
    {% if user.is_authenticated %}
        <li>
            <a class="profile" href="{% url "fiesta:account:profile" %}" title="Профиль пользователя">
                <span>{{ user.username}}</span>
            </a>
        </li>
        <li class="separator">/</li>
        <li class="logout">
            <form method="post" action="/logout?next=/">
                {% csrf_token %}
                <input type="submit" name="logout" value="{% trans "Logout" %}" class="btn" />
            </form>
        </li>
    {% else %}
        <li class="login" >
            <a class="login-link" href="{% url "fiesta:account:signin" %}"><span>{% trans "Sign in" %}</span></a>
            <div class="login-form">
                <form method="post" action="/login?next={{ current_path|urlencode }}" class="form-horizontal ">
                    {% csrf_token %}
                    <div class="control-group login-box">
                        <div class="controls">
                            <input type="text" name="username" maxlength="30" id="id_username" />
                        </div>
                    </div>
                    <div class="control-group pwd-box">
                        <div class="controls">
                            <input type="password" name="password" id="id_password" />
                        </div>
                    </div>
                    <div class="control-group">
                        <a href="#" class="remember-link">Вспомнить пароль</a>
                    </div>
                    <div class="controls-row">
                        <input type="submit" name="login" value="{% trans "Sign in" %}" class="btn" />
                    </div>
                </form>
            </div>
        </li>
        <li class="separator">/</li>
        <li class="register">
            <a href="{% url "fiesta:account:registration" %}" class="reg-link">{% trans "Sign up" %}</a>
        </li>
    {% endif %}
</ul>
<div class="cb">&nbsp;</div>
</div>