{% load i18n %}

<script type="text/javascript">
    $(document).ready(function () {
        var authLi = $(".auth .login");
        var loginLink = $('.auth a.login-link');
        loginLink.removeAttr("href");
        loginLink.mouseup(function(login){authLi.toggleClass('open');});
        $('.auth .login-form form').mouseup(function(){ return false; });
        $(this).mouseup(function(evt){
            if($(evt.target).parent('.auth .login-link').length < 1 && $(evt.target).parent('.auth .login').length < 1){
                authLi.removeClass('open');
            }
        });
    });
</script>
{#<div id="login-wrap" class="container-fluid" style="padding-right: 0px;">#}
<ul class="auth">
    {% if user.is_authenticated %}
        <li>
            <a class="profile" href="{% url "fiesta:account:profile" %}" title="Профиль пользователя">
                <span>{{ user.username}}</span>
            </a>
        </li>
        <li class="separator">/</li>
        <li>
            <form method="post" action="/logout?next=/">
                {% csrf_token %}
                <div class="pull-right">
                    <input type="submit" name="logout" value="{% trans "Logout" %}" class="btn" />
                </div>
            </form>
        </li>

{#        <div class="row-fluid">#}
{#            <div class="span7 ">#}
{#                <span class="pull-right">{{ user.username}}</span>#}
{#            </div>#}
{#            <div class="span4 offset1">#}
{#                <a href="{% url "fiesta:account:profile" %}"><img src="{{ avatar }}" width="110" height="110" alt="no avatar"/></a>#}
{#                <form method="post" action="/logout?next=/">#}
{#                    {% csrf_token %}#}
{#                    <div class="pull-right" style="margin-top: 20px;">#}
{#                        <input type="submit" name="logout" value="выход" class="btn" />#}
{#                    </div>#}
{#                </form>#}
{#            </div>#}
{#        </div>#}
    {% else %}
        <li class="login" >
            <a class="login-link"><span>{% trans "Sign in" %}</span></a>
            <div class="login-form">
                <form method="post" action="/login?next={{ current_path|urlencode }}" class="form-horizontal ">
                    {% csrf_token %}
                    <div class="control-group">
                        <label for="id_username" class="control-label">Логин</label>
                        <div class="controls">
                            <input type="text" name="username" maxlength="30" id="id_username"/>
                        </div>
                    </div>
                    <div class="control-group">
                        <label for="id_password" class="control-label" >Пароль</label>
                        <div class="controls">
                            <input type="password" name="password" id="id_password"/>
                        </div>
                    </div>
                    <div class="controls-row">
                        <div class="pull-right">
                            <input type="submit" name="login" value="{% trans "Sign in" %}" class="btn" />
                        </div>
                        <div >
                            <span>Еще не зарегистрированы?</span>
                            <a href="{% url "fiesta:account:registration" %}" class="btn-link">Жми сюда!</a>
                        </div>
                    </div>
                </form>
            </div>
        </li>
        <li class="separator">/</li>
        <li class="register">
            <a href="{% url "fiesta:account:registration" %}" class="reg-link">{% trans "Sign up" %}</a>
        </li>
{#        <div class="authinput">#}
{#        <form method="post" action="/login?next={{ current_path|urlencode }}" class="form-horizontal ">#}
{#            {% csrf_token %}#}
{#            <div class="control-group">#}
{#                <label for="id_username" class="control-label">Логин</label>#}
{#                <div class="controls">#}
{#                    <input type="text" name="username" maxlength="30" id="id_username"/>#}
{#                </div>#}
{#            </div>#}
{#            <div class="control-group">#}
{#                <label for="id_password" class="control-label" >Пароль</label>#}
{#                <div class="controls">#}
{#                    <input type="password" name="password" id="id_password"/>#}
{#                </div>#}
{#            </div>#}
{#            <div class="controls-row">#}
{##}
{#                <div class="pull-right" style="margin-left: 20px;">#}
{#                    <input type="submit" name="login" value="вход" class="btn" />#}
{#                </div>#}
{#                <div class="pull-right" >#}
{#                    <span>Еще не зарегистрированы?</span>#}
{#                    <a href="{% url "fiesta:account:registration" %}" class="btn-link">Жми сюда!</a>#}
{#                </div>#}
{##}
{#            </div>#}
{##}
{#        </form>#}
{#        </div>#}
    {% endif %}
{#</div>#}
</ul>
<div class="cb">&nbsp;</div>