{% load i18n %}
{% comment %}<form method="get" action="." class="navbar-form pull-right pull-right-control">
    {{ search_form.q.label_tag }}
    {{ search_form.q }}
	<input type="submit" value="{% trans "Search" %}" class="btn" />
</form>{% endcomment %}
<form method="get" action="." >
    <input type="text" id="q" name="q"  class="search-text" value="{{ search_term }}" oninput="get_search_result();"/>
    <input type="image" src="{{ STATIC_URL }}fiesta_core/img/search-btn.png" />
</form>
<script>
    $(document).on('click.dropdown.search-api', removeSearchResultsBox);
    function get_search_result(){

        var query = $("#q").val();
        if(query.length > 2)
            $.get('{{current_path}}'+'?q='+query,{}, onLoadSearchResult);
    }
    function onLoadSearchResult(data){
        removeSearchResultsBox();
        $('.top-search').append(data).addClass('open');
    }
    function removeSearchResultsBox(){
        $('.top-search .search-results').remove();
    }
</script>