{% extends "base.html" %}
{% load i18n %}

{% block mainstylesheet %}
    <link href="/static/fiesta_core/css/dashboard.css" rel="stylesheet" type="text/css" media="screen" />
{% endblock %}

{% block layout %}
    {% block navbar %}
        <div class="navbar navbar-static-top navbar-inverse navbar-accounts">
            <div class="navbar-inner">
                <div class="dashboard">

                    <div class="nav-collapse nav-accounts collapse">
                        <ul class="nav pull-right">
                            {% if user.is_authenticated %}
                                <li><span>{% trans "Welcome" %} <em>{{ request.user.name|default:'Guest' }}</em></span></li>
                                <li><a href="{% url logout %}?next=/"><i class="icon-signout"></i> {% trans "Logout" %}</a></li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div><!-- /navbar-inner -->
        </div><!-- /navbar -->
    {% endblock navbar %}

    <section>
        {% block content_wrapper %}

        {% endblock %}
    </section>
{% endblock %}