{% extends "base.html" %}
{% load i18n %}
{% load dashboard_tags %}

{% block mainstylesheet %}
    <link href="{{ STATIC_URL }}fiesta_core/css/dashboard.css" rel="stylesheet" type="text/css" media="screen" />
    <link href="{{ STATIC_URL }}fiesta_core/js/bootstrap-wysihtml5/bootstrap-wysihtml5.css" rel="stylesheet" type="text/css" media="screen" />
    <link href="{{ STATIC_URL }}fiesta_core/css/bootstrap.min.css" rel="stylesheet" type="text/css" media="screen" />
    <link href="{{ STATIC_URL }}fiesta_core/css/bootstrap-timepicker.css" rel="stylesheet" type="text/css" media="screen" />
{% endblock %}
{% block scripts %}
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.js"></script>
    {% comment %}<script src="{{ STATIC_URL }}fiesta_core/js/jquery-1_9/jquery-1.9.1.min.js"></script>{% endcomment %}
{#    <script>window.jQuery || document.write('<script src="{{ STATIC_URL }}fiesta_core/js/jquery/jquery-1.7.2.js"><\/script>')</script>#}
    <script src="{{ STATIC_URL }}fiesta_core/js/jquery/jquery.easing.1.3.js" type="text/javascript" charset="utf-8"></script>
    <!-- Twitter Bootstrap -->
    <script type="text/javascript" src="{{ STATIC_URL }}fiesta_core/js/bootstrap/bootstrap.min.js"></script>

    <script type="text/javascript" src="{{ STATIC_URL }}fiesta_core/js/bootstrap-wysihtml5/wysihtml5-0.3.0.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}fiesta_core/js/bootstrap-wysihtml5/bootstrap-wysihtml5.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}fiesta_core/js/plugins/bootstrap-timepicker.js"></script>


{% endblock %}

{% block layout %}
    {% block navbar %}
        <div class="navbar navbar-static-top navbar-inverse navbar-accounts">
            <div class="navbar-inner">
                <div class="dashboard">

                    <div class="nav-collapse nav-accounts collapse">
                        <ul class="nav pull-right">
                            {% if user.is_authenticated %}
                                <li><span>{% trans "Welcome" %} <em>{{ request.user.name|default:'Guest' }}</em></span></li>
                                <li><a href="{% url "logout" %}?next=/"><i class="icon-signout"></i> {% trans "Logout" %}</a></li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div><!-- /navbar-inner -->
        </div><!-- /navbar -->
    {% endblock navbar %}

    {% block dashboard_nav %}
        {% dashboard_navigation request.user %}

        <div class="navbar navbar-static-top navbar-inverse navbar-primary">
            <div class="navbar-inner">
                <div class="dashboard">

                    <!-- <div class="subnav subnav-fixed"> -->

                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-primary">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>

                    <div class="nav-collapse nav-primary">
                        <ul class="nav nav-pills dashboard">
                            {% for item in nav_items %}
                                <li class="{{ item.label }} dropdown">
                                    {% if item.is_heading %}
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ item.label }} <b class="caret"></b></a>
                                    {% else %}
                                        <a href="{{ item.url }}">{{ item.label }}</a>
                                    {% endif %}
                                    {% if item.has_children %}
                                        <ul class="dropdown-menu">
                                            {% for subitem in item.children %}
                                                <li><a href="{{ subitem.url }}">{{ subitem.label }}</a></li>
                                            {% endfor %}
                                        </ul>
                                    {% endif %}
                                </li>
                            {% endfor %}
                        </ul>
                    </div>

                </div>
            </div>
        </div>
    {% endblock %}

    <section>
        <div class="container-fluid dashboard">
            {% block breadcrumbs %}
                <ul class="breadcrumb">
                    <li><a href="{% url "fiesta:dashboard:dashboard-index" %}">{% trans "Dashboard" %}</a> <span class="divider">/</span></li>
                </ul>
            {% endblock %}
            <div class="content">
                {% comment %}{% include 'partials/alert_messages.html' %}{% endcomment %}
                {% block header %}{% endblock %}
                <div class="page-content">
                    {% block content %}
                        {% block content_wrapper %}

                        {% endblock %}
                    {% endblock content %}
                </div>
            </div>
        </div><!-- /container -->

    </section>
{% endblock %}
{% block extraheads %}
    {% comment %}<link rel="stylesheet" href="{{ STATIC_URL }}fiesta_core/js/bootstrap-wysihtml5/bootstrap-wysihtml5-0.0.2.css" />{% endcomment %}
{% endblock %}

{% block extrascripts %}
    {{ block.super }}
    <script src="{{ STATIC_URL }}fiesta_core/js/plugins/plugins.js" type="text/javascript" charset="utf-8"></script>

    {# WYSIHTML5 #}
    {% comment %}<script src="{{ STATIC_URL }}fiesta_core/js/bootstrap-wysihtml5/wysihtml5-0.3.0_rc2.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="{{ STATIC_URL }}fiesta_core/js/bootstrap-wysihtml5/bootstrap-wysihtml5-0.0.2.js" type="text/javascript" charset="utf-8"></script>{% endcomment %}

    <script src="{{ STATIC_URL }}fiesta_core/js/project/ui.js" type="text/javascript" charset="utf-8"></script>
    <script src="{{ STATIC_URL }}fiesta_core/js/project/dashboard.js" type="text/javascript" charset="utf-8"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.23/jquery-ui.min.js"></script>

    {# Trigger dashboard javascript initialisation #}
    <script type="text/javascript"> $(oscar.dashboard.init); </script>
    <script>
      if($.browser.mozilla) {
      $(document).on('click', 'label', function(e) {
        if(e.currentTarget === this && e.target.nodeName !== 'INPUT') {
          $(this.control).click();
        }
      });}
    </script>
{% endblock %}