<article class="wall-article">
    <h2 class="article-header"><a href="{% if news_item.slug %}{% url "fiesta:blog:slug_single_news" news_item.slug %}{% else %}{% url "fiesta:blog:single_news" news_item.id %}{% endif %}">{{ news_item.title }}</a></h2>
    <div class="article-text">{{ news_item.description|safe}}</div>
    <div class="img-container">
        <div class="dates-wrapper">
            <ul>
                {% if news_item.event_date %}
                    <li class="{% if news_item.deadline_date %}from-date{% else %}event-date{% endif %}">{{ news_item.event_date|date:"j E" }}</li>
                    {% if news_item.deadline_date %}
                        <li class="triangle">&nbsp;</li>
                    {% endif %}
                {% endif %}
                {% if news_item.deadline_date %}
                    <li class="to-date">{{ news_item.deadline_date|date:"j E" }}</li>
                {% endif %}
            </ul>
        </div>
    {% if  news_item.photo  %}
        <a href="{% if news_item.slug %}{% url "fiesta:blog:slug_single_news" news_item.slug %}{% else %}{% url "fiesta:blog:single_news" news_item.id %}{% endif %}">
            {% with img=news_item.photo %}
                {% if img.preview %}
                    <img class="photo" src="{{ img.preview.url }}"/>
                {% else %}
                    <img class="photo" src="{{ img.image.url }}">
                {% endif %}
            {% endwith %}
        </a>
    {% endif %}
    </div>
    {% comment %}<div class="article-preview">{% endcomment %}

        <div class="article-statistic">
            <ul>
                <li class="browsing" title="Просмотров">{{ news_item.views_count }}</li>
                <li>
                    <div id="vk_like_{{ news_item.id }}"></div>
                    <script>
                        VK.Widgets.Like('vk_like_{{ news_item.id }}', {type:'mini',pageDescription:'{{ news_item.description }}', pageTitle: '{{ news_item.title }}', pageUrl:'{{ site_domain }}{% if news_item.slug %}{% url "fiesta:blog:slug_single_news" news_item.slug %}{% else %}{% url "fiesta:blog:single_news" news_item.id %}{% endif %}'{% if news_item.photo.preview %},pageImage:"{{ site_domain }}{{ news_item.photo.preview.url }}"{% endif %}}, {{ news_item.id }});
                    </script>
                </li>
            </ul>
            <div class="cb">&nbsp;</div>
        </div>
        <div>{{ news_item.date_added|date:"d.m.Y" }}</div>
    {% comment %}</div>{% endcomment %}
</article>