<article class="wall-article">
    {% if news_item.photo %}
        {% comment %}<div id="news_slides_{{news_item.id  }}" class="slides">
            {% for img in news_item.news_photos.all %}
                {% if img.preview %}
                    <img class="photo" src="{{ img.preview.url }}"/>
                {% else %}
                    <img class="photo" src="{{ img.image.url }}">
                {% endif %}
            {% endfor %}
        </div>
        <script>
            $(function(){
              $("#news_slides_{{news_item.id}}").slidesjs({
                //width: 400,
                //height: 300
              });
            });
        </script>
    {% else %}{% endcomment %}
    <a href="{% url "fiesta:blog:single_news" news_item.id %}">
        {% with img=news_item.photo %}
            {% if img.preview %}
                <img class="photo" src="{{ img.preview.url }}"/>
            {% else %}
                <img class="photo" src="{{ img.image.url }}">
            {% endif %}
        {% endwith %}
    </a>
    {% endif %}

    <section class="article-content">
        <h2>{{ news_item.title }}</h2>
        <span>{{ news_item.dateAdding }}</span>
        {#<p>{{ news_item.text|truncatewords:"25"  }}</p>#}
        <div class="text">{{ news_item.text}}</div>
        <div>
            просмотров {{ news_item.views_count }}
        </div>
        {% if news_item.event_date %}
            <div class="{% if news_item.deadline_date %}from-date{% else %}event-date{% endif %}">начало {{ news_item.event_date|date:"d E" }}</div>
        {% endif %}
        {% if news_item.deadline_date %}
            <div class="to-date">конец {{ news_item.deadline_date|date:"d E" }}</div>
        {% endif %}

    </section>
<div class="cb"> </div>
</article>
