<article class="similar">
    <div class="img-container">
        <a href="{% if news_item.slug %}{% url "fiesta:blog:slug_single_news" news_item.slug %}{% else %}{% url "fiesta:blog:single_news" news_item.id %}{% endif %}">
            {% if news_item.photo and news_item.photo.preview %}
                <img src="{{ news_item.photo.preview.url }}" />
            {% endif %}
        </a>
        <div class="dates-wrapper">
            <ul>
                {% if news_item.event_date %}
                    <li class="{% if news_item.deadline_date %}from-date{% else %}event-date{% endif %}">{{ news_item.event_date|date:"j E" }}</li>
                    {% if news_item.deadline_date %}
                        <li class="triangle">&nbsp;</li>
                    {% endif %}
                {% endif %}
                {% if news_item.deadline_date %}
                    <li class="to-date">{{ news_item.deadline_date|date:"j E" }}</li>
                {% endif %}
            </ul>
        </div>
    </div>
    <h3 class="article-header"><a href="{% if news_item.slug %}{% url "fiesta:blog:slug_single_news" news_item.slug %}{% else %}{% url "fiesta:blog:single_news" news_item.id %}{% endif %}">{{ news_item.title }}</a></h3>
    <div class="intro">{{ news_item.description|safe }}</div>
</article>