<article class="similar">
    <div class="img-container">
        <a href="#">
            <img src="{{ STATIC_URL }}fiesta_core/img/test-img.png" />
        </a>
        <div class="dates-wrapper">
            <ul>
                <li class="from-date">18 апреля</li>
                <li class="triangle">&nbsp;</li>
                <li class="to-date">10 июня</li>
            </ul>
        </div>
    </div>
    <h3 class="article-header"><a href="#">Художественная акция "Туша"</a></h3>
    <div class="intro">Phasellus elementum ligula ac tempus adipiscing. Integer aliquet turpis id dolor condimentum lacinia.</div>
</article>