{% load i18n %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block news_title %}{% endblock %}</title>
    {% block mainstylesheet %}
        <link rel="apple-touch-icon" href="{{ STATIC_URL }}/fiesta_core/img/favicon.ico" />
        {% comment %}<link href="/static/fiesta_core/css/bootstrap.min.css" rel="stylesheet" type="text/css" media="screen" />{% endcomment %}
        <link href="/static/fiesta_core/css/mobile_styles.css" rel="stylesheet" type="text/css" />
        <meta name="viewport" content="width=device-width; initial-scale=1.0;" />
        {% comment %}<link href="{{ STATIC_URL }}fiesta_core/css/dropdowns.css" rel="stylesheet" type="text/css" media="screen" />{% endcomment %}
        <link href="{{ STATIC_URL }}fiesta_core/css/toggle-switch.css" rel="stylesheet" type="text/css" media="screen" />
        <link href="{{ STATIC_URL }}fiesta_core/css/scrollUpMobile-image.css" rel="stylesheet" type="text/css" media="screen" />
    {% endblock %}
    {% block extraheads %}{% endblock %}
    {% block scripts %}

    {% endblock %}
</head>
<body>

    {# maincontent place here #}
    {% block layout %}{% endblock %}

    {# import scripts on current page #}
    {% block extrascripts %}{% endblock %}
<!--LiveInternet counter--><script type="text/javascript"><!--
document.write("<a href='http://www.liveinternet.ru/click' "+
"target=_blank><img src='//counter.yadro.ru/hit?t25.6;r"+
escape(document.referrer)+((typeof(screen)=="undefined")?"":
";s"+screen.width+"*"+screen.height+"*"+(screen.colorDepth?
screen.colorDepth:screen.pixelDepth))+";u"+escape(document.URL)+
";h"+escape(document.title.substring(0,80))+";"+Math.random()+
"' alt='' title='LiveInternet: показано число посетителей за"+
" сегодня' "+
"border='0' width='1' height='1'><\/a>")
//--></script><!--/LiveInternet-->
<!-- Yandex.Metrika informer -->
<a href="http://metrika.yandex.ru/stat/?id=21682024&amp;from=informer"
target="_blank" rel="nofollow"><img src="//bs.yandex.ru/informer/21682024/3_1_FFFFFFFF_EFEFEFFF_0_pageviews"
style="width:1px; height:1px; border:0;" alt="Яндекс.Метрика" title="Яндекс.Метрика: данные за сегодня (просмотры, визиты и уникальные посетители)" onclick="try{Ya.Metrika.informer({i:this,id:21682024,lang:'ru'});return false}catch(e){}"/></a>
<!-- /Yandex.Metrika informer -->

<!-- Yandex.Metrika counter -->
<script type="text/javascript">
(function (d, w, c) {
    (w[c] = w[c] || []).push(function() {
        try {
            w.yaCounter21682024 = new Ya.Metrika({id:21682024,
                    clickmap:true,
                    trackLinks:true,
                    accurateTrackBounce:true});
        } catch(e) { }
    });

    var n = d.getElementsByTagName("script")[0],
        s = d.createElement("script"),
        f = function () { n.parentNode.insertBefore(s, n); };
    s.type = "text/javascript";
    s.async = true;
    s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

    if (w.opera == "[object Opera]") {
        d.addEventListener("DOMContentLoaded", f, false);
    } else { f(); }
})(document, window, "yandex_metrika_callbacks");
</script>
<noscript><div><img src="//mc.yandex.ru/watch/21682024" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->
</body>
</html>