{% load i18n %}
<!DOCTYPE html>
<html>
<head>
    <title></title>
    {% block mainstylesheet %}

        {% comment %}<link href="/static/fiesta_core/css/bootstrap.min.css" rel="stylesheet" type="text/css" media="screen" />{% endcomment %}
        <link href="/static/fiesta_core/css/styles.css" rel="stylesheet" type="text/css" media="screen" />
        {% comment %}<link href="{{ STATIC_URL }}fiesta_core/css/dropdowns.css" rel="stylesheet" type="text/css" media="screen" />{% endcomment %}
        <link href="{{ STATIC_URL }}fiesta_core/css/toggle-switch.css" rel="stylesheet" type="text/css" media="screen" />
    {% endblock %}
    {% block extraheads %}{% endblock %}
    {% block scripts %}

    {% endblock %}
</head>
<body>

    {# maincontent place here #}
    {% block layout %}{% endblock %}

    {# import scripts on current page #}
    {% block extrascripts %}{% endblock %}
<!--LiveInternet counter--><script type="text/javascript"><!--
document.write("<a href='http://www.liveinternet.ru/click' "+
"target=_blank><img src='//counter.yadro.ru/hit?t25.6;r"+
escape(document.referrer)+((typeof(screen)=="undefined")?"":
";s"+screen.width+"*"+screen.height+"*"+(screen.colorDepth?
screen.colorDepth:screen.pixelDepth))+";u"+escape(document.URL)+
";h"+escape(document.title.substring(0,80))+";"+Math.random()+
"' alt='' title='LiveInternet: показано число посетителей за"+
" сегодня' "+
"border='0' width='1' height='1'><\/a>")
//--></script><!--/LiveInternet-->
</body>
</html>