{% load i18n %}
<!DOCTYPE html>
<html>
<head>
    <title></title>
    {% block mainstylesheet %}

        {% comment %}<link href="/static/fiesta_core/css/bootstrap.min.css" rel="stylesheet" type="text/css" media="screen" />{% endcomment %}
        <link href="/static/fiesta_core/css/styles.css" rel="stylesheet" type="text/css" media="screen" />
        {% comment %}<link href="{{ STATIC_URL }}fiesta_core/css/dropdowns.css" rel="stylesheet" type="text/css" media="screen" />{% endcomment %}
        <link href="{{ STATIC_URL }}fiesta_core/css/toggle-switch.css" rel="stylesheet" type="text/css" media="screen" />
    {% endblock %}
    {% block extraheads %}{% endblock %}
    {% block scripts %}

    {% endblock %}
</head>
<body>
    {# maincontent place here #}
    {% block layout %}{% endblock %}

    {# import scripts on current page #}
    {% block extrascripts %}{% endblock %}
</body>
</html>