{% extends "base.html" %}
{% load i18n %}
{% load pop_news %}
{% block scripts %}
    <script>window.jQuery || document.write('<script src="{{ STATIC_URL }}fiesta_core/js/jquery-1_9/jquery-1.9.1.min.js"><\/script>')</script>
    <script src="{{ STATIC_URL }}fiesta_core/js/plugins/jquery.slides.min.js"></script>
{#    <script src="{{ STATIC_URL }}fiesta_core/js/bootstrap/bootstrap.min.js"></script>#}
    <script src="{{ STATIC_URL }}fiesta_core/js/plugins/dropdowns.js"></script>
    <script type="text/javascript">
    $(document).ready(function () {

        //set_city();

        $("input[name=city_dd]").change( function() {
            var exdate = new Date();
            exdate.setDate(exdate.getDate() + 14);
            var c_value = $(this).val() + ";expires="+exdate.toUTCString();
            document.cookie="unic_tmp_user_city="+c_value;
            window.location.href = '{% url "fiesta:blog:index" %}';
            });
    });
    var set_city = function()
    {
        var val  = getCookie('unic_tmp_user_city');
        if(val)
        {
            var radioObj = $("input[name=city_dd]");
            for(var i = 0; i < radioObj.length; i++) {
                if(radioObj[i].value == val) {
                    radioObj[i].checked = true;
                }
            }
        }
    }
    function getCookie(name)
    {
        var re = new RegExp(name + "=([^;]+)"); var value = re.exec(document.cookie); return (value != null) ? value[1] : null;
    }
    </script>
{% endblock %}

{% block layout %}
    <div id="wrapper">
        <section id="middle">
            <div id="container">
                <header id="header">
                    {% block header %}
                    {% include "fiesta/partials/auth_tag.html" %}
                    <div class="cities-selector" >
                        <div class="dropdown-toggle" data-toggle="dropdown">
                            <div class="city-label-wrapper"><span data-label-placement="" class="city-label">{{ city }}</span></div>
                        </div>
                        <ul class="dropdown-menu">
                          <li><input hidden type="radio" id="city_dd_spb" name="city_dd" value="0"><label for="city_dd_spb">{% trans "Saint Petersburg" %}</label></li>
                          <li><input hidden type="radio" id="city_dd_msk" name="city_dd" value="1"><label for="city_dd_msk">{% trans "Moscow"%}</label></li>
                        </ul>
                    </div>

                    <a class="logo-block" href="/"><img src="{{ STATIC_URL }}fiesta_core/img/logo.png"></a>

                    <div class="locale">
                        <form action="/i18n/setlang/" method="POST">
                            {% csrf_token %}
                            <input name="next" type="hidden" value="/" />
                            <div class="control-group">
                                <div class="controls switch">
                                    <input id="rus" value="ru" name="language" type="radio" {%if LANGUAGE_CODE == 'ru' %} checked {% endif %} onclick="this.form.submit();">
                                    <label for="rus" onclick="">rus</label>

                                    <input id="eng" value="en" name="language" type="radio" {%if LANGUAGE_CODE == 'en' %} checked {% endif %} onclick="this.form.submit();">
                                    <label for="eng" onclick="">eng</label>

                                    <span class="slide-button well"></span>
                                </div>
                            </div>
                        </form>
                    </div>

                    <div class="cb"> </div>
                {% endblock %}
                </header>
                <div class="main-menu">
                    {% include "partials/nav_menu.html" %}
                </div>
                <div>
                {% block content_wrapper %}
                {% endblock %}
                </div>
                <div>
                    {% block prefooter %}
                    {% endblock %}
                </div>
            </div>
            <aside  id="sideRight">
                <div class="side-bar">
                    <div class="side-block">
                        <img src="{{ STATIC_URL }}fiesta_core/img/bunner.png"/>
                    </div>
                    <div class="side-block">
                        {% pop_news_list %}
                    </div>
                    <div class="side-block">
                        <h3>{% trans "Join us" %}</h3>
                        <img src="{{ STATIC_URL }}fiesta_core/img/vk.png">
                    </div>
                </div>
            </aside>
            <div class="cb">&nbsp;</div>

            <!-- #footer -->
            <footer id="footer">
                <div class="footer-container">
                    <div class="copyright">© Blog Fiesta 2013</div>
                    <ul class="footer-menu">
                        <li><a href="{% url 'fiesta:blog:advertisement' %}">{% trans "Advertisement" %}</a></li>
                        <li><a href="{% url 'fiesta:blog:contact' %}">{% trans "Contact us" %}</a></li>
                    </ul>
                    <ul class="soc-icons">
                        <li><a href="http://vk.com/blog_fiesta" target="_blank" class="vk" title="вконтакте"></a></li>
                        <li><a href="#" class="facebook" title="facebook"></a></li>
                        <li><a href="#" class="twitter" title="twitter"></a></li>
                    </ul>
                    <div class="cb">&nbsp;</div>
                </div>
            </footer><!-- #footer -->
        </section>
    </div>
{% endblock %}