{% extends "base.html" %}
{% load i18n %}
{% load pop_news %}
{% block news_title %}{% endblock %}
{% block scripts %}
    <script>window.jQuery || document.write('<script src="{{ STATIC_URL }}fiesta_core/js/jquery-1_9/jquery-1.9.1.min.js"><\/script>')</script>

    <script src="{{ STATIC_URL }}fiesta_core/js/plugins/jquery.scrollUp.min.js"></script>
    <script src="{{ STATIC_URL }}fiesta_core/js/plugins/dropdowns.js"></script>
    <script type="text/javascript" src="//vk.com/js/api/openapi.js?97"></script>

    <script type="text/javascript">
    function disableSelection(target){
        if (typeof target.onselectstart!="undefined")
            target.onselectstart=function(){return false}
        else if (typeof target.style.MozUserSelect!="undefined")
            target.style.MozUserSelect="none"
        else
            target.onmousedown=function(){return false}
        target.style.cursor = "default"
        }
    $(document).ready(function () {

        //set_city();

        $("input[name=city_dd]").change( function() {
            var exdate = new Date();
            exdate.setDate(exdate.getDate() + 14);
            var c_value = $(this).val() + ";expires="+exdate.toUTCString();
            document.cookie="unic_tmp_user_city="+c_value;
            window.location.href = '{% url "fiesta:blog:index" %}';
            });

        //disableSelection(document.body);

    });

    setTimeout($(function(){
        if($(window).width() > 1234)
        {
          $.scrollUp({
                      scrollText: ''
                  });
        }
    }),300);

    var set_city = function()
    {
        var val  = getCookie('unic_tmp_user_city');
        if(val)
        {
            var radioObj = $("input[name=city_dd]");
            for(var i = 0; i < radioObj.length; i++) {
                if(radioObj[i].value == val) {
                    radioObj[i].checked = true;
                }
            }
        }
    }
    function getCookie(name)
    {
        var re = new RegExp(name + "=([^;]+)"); var value = re.exec(document.cookie); return (value != null) ? value[1] : null;
    }

    VK.Widgets.Group("vk_groups", {mode: 0, width: "238", height: "400", color1: 'FFFFFF', color2: '2B587A', color3: '5B7FA6'}, {% if city_id == '1' %} 26270763 {% elif city_id == '2' %} 24485016 {% else %} 26270763 {% endif %});
    VK.init({apiId: 3740645, onlyWidgets: true});


    </script>
{% endblock %}

{% block layout %}
    <div id="wrapper">
        <section id="middle">
            <div id="container">
                <header id="header">
                    {% block header %}
{#                    {% include "fiesta/partials/auth_tag.html" %}#}
                    <div class="cities-selector">
                        <div class="dropdown-toggle" data-toggle="dropdown">
                            <div class="city-label-wrapper"><span data-label-placement="" class="city-label">{{ city }}</span></div>
                        </div>
                        <ul class="dropdown-menu">
                          <li {% if city_id == '1' %} class="hide" {% endif %}><input hidden type="radio" id="city_dd_spb" name="city_dd" value="1"><label for="city_dd_spb">{% trans "Saint Petersburg" %}</label></li>
                          <li {% if city_id == '2' %} class="hide" {% endif %}><input hidden type="radio" id="city_dd_msk" name="city_dd" value="2"><label for="city_dd_msk">{% trans "Moscow"%}</label></li>
                        </ul>
                    </div>

                    <a class="logo-block" href="/"><img src="{{ STATIC_URL }}fiesta_core/img/logo.png"></a>

                    <div class="locale">
                        <form action="/i18n/setlang/" method="POST">
                            {% csrf_token %}
                            <input name="next" type="hidden" value="/" />
                            <div class="control-group">
                                <div class="controls switch">
                                    <input id="rus" value="ru" name="language" type="radio" {%if LANGUAGE_CODE == 'ru' %} checked {% endif %} onclick="this.form.submit();">
                                    <label for="rus" onclick="">rus</label>

                                    <input id="eng" value="en" name="language" type="radio" {%if LANGUAGE_CODE == 'en' %} checked {% endif %} onclick="this.form.submit();">
                                    <label for="eng" onclick="">eng</label>

                                    <span class="slide-button well"></span>
                                </div>
                            </div>
                        </form>
                    </div>

                    <div class="cb"> </div>
                {% endblock %}
                </header>
                <div>
                    {% include "partials/nav_menu.html" %}
                </div>
                <div id="content">
                {% block content_wrapper %}
                {% endblock %}
                </div>
                <div>
                    {% block prefooter %}
                    {% endblock %}
                </div>
            </div>
            <aside  id="sideRight">
                <div class="side-bar" style="padding: 19px;">
                    <div class="side-block">
                        <!-- Яндекс.Директ -->
                        <div id="rside_yandex_ad"></div>
                        <script type="text/javascript">
                        (function(w, d, n, s, t) {
                            w[n] = w[n] || [];
                            w[n].push(function() {
                                Ya.Direct.insertInto(114735, "rside_yandex_ad", {
                                    site_charset: "utf-8",
                                    ad_format: "direct",
                                    font_size: 1,
                                    font_family: "arial",
                                    type: "vertical",
                                    limit: 4,
                                    title_font_size: 3,
                                    site_bg_color: "EFEFEF",
                                    title_color: "212121",
                                    url_color: "006600",
                                    text_color: "565656",
                                    hover_color: "0066FF",
                                    favicon: true
                                });
                            });
                            t = d.documentElement.firstChild;
                            s = d.createElement("script");
                            s.type = "text/javascript";
                            s.src = "http://an.yandex.ru/system/context.js";
                            s.setAttribute("async", "true");
                            t.insertBefore(s, t.firstChild);
                        })(window, document, "yandex_context_callbacks");
                        </script>
                    </div>
                    <div class="side-block">
                        {% pop_news_list %}
                    </div>
                    <div class="side-block">
                        <h3>{% trans "Join us" %}</h3>
                        {% comment %}<img src="{{ STATIC_URL }}fiesta_core/img/vk.png">{% endcomment %}
                        <div id="vk_groups"></div>

                    </div>
                    <div class="side-block">
                        <a class="twitter-timeline" href="https://twitter.com/Blog_Fiesta" data-widget-id="377151226564976640">Твиты пользователя @Blog_Fiesta</a>
                        <script>
                            !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
                        </script>
                    </div>
                    <div class="side-block">
                        <script type="text/javascript"><!--
                            google_ad_client = "ca-pub-9630725189942769";
                            /* Blog Fiesta */
                            google_ad_slot = "5409566532";
                            google_ad_width = 240;
                            google_ad_height = 400;
                            //-->
                            </script>
                            <script type="text/javascript"
                            src="//pagead2.googlesyndication.com/pagead/show_ads.js">
                        </script>
                    </div>
                    {% comment %}<div class="side-block">
                        <embed type="application/x-shockwave-flash" src="{{ STATIC_URL }}130835-imaginegreen-240x400.swf?link1={{ site_domain }}/news/ThinkQ/" width="240" height="400" style="" id="flashcontent" name="flashcontent" bgcolor="#F8F8F8" quality="high">
                    </div>{% endcomment %}
                    <div class="side-block" style="height: 400px;">
{#                        <img src="{{ STATIC_URL }}fiesta_core/img/bunner.png"/>#}
                        <!-- Pingmedia 240x400 code START-->
                        <script language="javascript" type="text/javascript"><!--
                        if(typeof(ar_cn)=="undefined") var ar_cn=1;
                        var ar_Tail=document.referrer ? escape(document.referrer) : 'unknown';
                        var ar_link="http://ad.adriver.ru/cgi-bin/erle.cgi?sid=193517&bt=49&target=blank&tail256=" + ar_Tail;
                        document.write('<div style="visibility:hidden;height:0px;"><iframe id="ar_container_'+ar_cn+'" width=1 height=1 marginwidth=0 marginheight=0 scrolling=no frameborder=0><\/iframe><\/div><div id="ad_ph_'+ar_cn+'"><\/div>');
                        function ar_getDoc(t,n,l){var doc;if(t<100){if(document.all && !window.opera){doc = window.frames['ar_container_'+n].document}
                        else if(document.getElementById){doc=document.getElementById('ar_container_'+n).contentDocument}
                        if(!doc){setTimeout('ar_getDoc('+(++t)+','+n+',"'+l+'")', 100)}else {var RndNum4NoCash = Math.round(Math.random() * 1000000000);
                        doc.write ('<sc'+'ript language="JavaScript" type="text/javascript">var ar_bnum='+n+';<\/sc'+'ript>');
                        doc.write ('<sc'+'ript language="JavaScript" type="text/javascript" src="'+l+'&rnd='+RndNum4NoCash+'"><\/sc'+'ript>');}}}
                        (function(num,link){function addEvent(e,t,f){if(e.addEventListener)e.addEventListener(t,f,false);else if(e.attachEvent)e.attachEvent('on'+t,f)}
                        function removeEvent(e,t,f){if(e.removeEventListener)e.removeEventListener(t,f,false);else if(e.detachEvent)e.detachEvent('on'+t,f)}
                        var BannerLoader={top:0,height:400,cm:document.compatMode=="CSS1Compat",
                        scroll:function(){var ch=self.innerHeight||this.cm&&document.documentElement.clientHeight||document.body.clientHeight;
                        var st=self.pageYOffset||this.cm&&document.documentElement.scrollTop||document.body.scrollTop;
                        var sh=self.scrollHeight||this.cm&&document.documentElement.scrollHeight||document.body.scrollHeight;
                        if((st-this.top<=this.height*0.2&&st+ch-this.top>=this.height*0.8)||(sh-this.top<=this.height*0.8&&(sh-st-ch<1||sh<ch))){
                        removeEvent(window,'scroll',this.sfunc);ar_getDoc(0,num,link)}},
                        sfunc: function(){BannerLoader.scroll()},init:function(){var t=this,obj=document.getElementById('ad_ph_'+num);
                        if(obj){while(obj.offsetParent){t.top += obj.offsetTop; obj = obj.offsetParent}
                        addEvent(window,'scroll',this.sfunc);t.scroll()}}};addEvent(window, 'load', function(){BannerLoader.init()})})(ar_cn++,ar_link);
                        //--></script>
                        <!-- Pingmedia 240x400 code END -->
                    </div>
                 </div>
            </aside>
            <div class="cb">&nbsp;</div>

            <!-- #footer -->
            <footer id="footer">
                <div class="footer-container">
                    <div class="copyright">© Blog Fiesta 2013</div>
                    <ul class="footer-menu">
                        <li>Для связи: mail@blog-fiesta.com{% comment %}<a href="{% url 'fiesta:blog:advertisement' %}">{% trans "Advertisement" %}</a>{% endcomment %}</li>
                        {% comment %}<li><a href="{% url 'fiesta:blog:contact' %}">{% trans "Contact us" %}</a></li>{% endcomment %}
                    </ul>
                    <ul class="soc-icons">
                        <li><a href="http://vk.com/blog_fiesta" target="_blank" class="vk" title="вконтакте"></a></li>
                        <li><a href="#" class="facebook" title="facebook"></a></li>
                        <li><a href="#" class="twitter" title="twitter"></a></li>
                    </ul>
                    <div class="cb">&nbsp;</div>
                </div>
            </footer><!-- #footer -->
        </section>
    </div>
{% endblock %}