{% extends "layout.html" %}
{% load i18n %}

{% block content_wrapper %}
    <article class="static-content">
        <h2 class="article-header">Реклама</h2>
        <div class="article-text">
            <p>Минимальный размер растяжки - это тот размер, который гарантированно будет виден при разрешении экрана
                1024х786. Это означает, что вся значащая информация (текст и картинки) должна быть размещена в пределах
                этого расстояния. Остально место (края) может быть заполнено фоном или любой другой информацией, но
                с учётом того, что её при разрешении экрана 1024х786 будет не видно. Края растягиваются насколько это
                возможно - это зависит от расположения баннерного места и разрешения экрана.
            </p>
            <h3>Как это сделать?</h3>
            <div class="info-block fl">
                <table>
                    <tr><td>Уникальных посетителей в день</td><td>142 000</td></tr>
                    <tr><td>Уникальных посетителей в месяц</td><td>1 170 000</td></tr>
                    <tr><td>Просмотров в день</td><td>467 000</td></tr>
                    <tr><td>Просмотров в месяц</td><td>18 600 000</td></tr>
                </table>
            </div>
            <p>Для рекламных агенств действуют специальные условия размещения рекламы.</p>
            <p>Обращайтейсь к Вашему менеджеру или пишите на <a class="email" href="mailto:reklama@fiesta.ru">reklama@fiesta.ru</a>.</p>
            <div class="cb">&nbsp;</div>
            <p>Юридическим лицам и компаниям, зарегистрированным за пределами Российской Федерации,<br />мы рекомендуем связаться с отделом рекламы.</p>
            <h3>Сколько это стоит?</h3>
            <div class="info-block fl">
                <table>
                    <tr><td>1 месяц</td><td>3400 р./мес.</td></tr>
                    <tr><td>3 месяца</td><td>2800 р./мес.</td></tr>
                    <tr><td>6 месяцев</td><td>2500 р./мес.</td></tr>
                </table>
            </div>
            <p>
                Мы стремимся, чтобы каждый с помощью наших проектов выбирал лучшее без лишних усилий.
                Сервис "Реклама" рассказывает о наших рекламных возможностях и помогает выбрать эффективные инструменты
                для проведения рекламной компании на наших площадках - "Рамблере", Lenta.ru, Price.ru, Ferra.ru и Kanobu Network.
            </p>
            <div class="cb">&nbsp;</div>
            <p>
                Технологическая платформа, созданная специалистами "Рамблера", позволяет проводить масштабные
                таргетированные компании на большинстве проектов Объединённой компании "Афиши" и "Рамблера":
                "Рамблер-Главной", "Рамблер-Новостях", "Рамблер-Почте", "Канобу" и других. Широкий охват
                этих площадок позволяет проводить по-настоящему масштабные рекламные компании для целевой аудитории.
            </p>
        </div>
    </article>
{% endblock %}