{% extends "layout.html" %}
{% load i18n %}

{% block content_wrapper %}
    <article class="static-content">
        <h2 class="article-header">Связаться с нами</h2>
        <div class="article-text">
            <p>Для рекламных агенств действуют специальные условия размещения рекламы.<br />Обращайтесь к вашему менеджеру или пишите на <a class="email" href="mailto:reklama@ifesta.ru">reklama@ifesta.ru</a>.</p>
            <p>По вопросам сотрудничества, а также с пожеланиями и замечаниями обращайтесь к нашему менеджеру или пишите на <a class="email" href="mailto:blog@ifesta.ru">blog@ifesta.ru</a>.</p>
        </div>
        <h3 class="side-bar-block-header">Присоединяйтесь</h3>
    </article>

{% endblock %}