{% extends "blog/blog_layout.html" %}
{% load i18n %}
{% block news_stream %}
    <div class="container-fluid" xmlns="http://www.w3.org/1999/html">
        <article class="row-fluid">
{#            {% include 'fiesta/blog/partial/single_news_template.html' with news=news %}#}
                <div class="span7">
                {% if news.news_photos.all|length > 1 %}
                <div id="news_slides_{{news.id  }}" class="slides">
                    {% for img in news.news_photos.all %}
                        {% if img.preview %}
                            <img src="{{ img.preview.url }}"/>
                        {% else %}
                            <img src="{{ img.image.url }}">
                        {% endif %}
                    {% endfor %}
                </div>
                <script>
                    $(function(){
                      $("#news_slides_{{news.id}}").slidesjs({
                        width: 400,
                        height: 300
                      });
                    });
                </script>
                {% else %}
                <div>
                    {% for img in news.news_photos.all %}
                        {% if img.preview %}
                            <img src="{{ img.preview.url }}"/>
                        {% else %}
                            <img src="{{ img.image.url }}">
                        {% endif %}
                    {% endfor %}
                </div>
                {% endif %}
                </div>
                <div class="span5">
                    <a href="{% url "fiesta:blog:single_news" news.id %}"><h4>{{ news.title }}</h4></a>
                    <span>{{ news.dateAdding }}</span>
                    {#<p>{{ news_item.text|truncatewords:"25"  }}</p>#}
                    <p>{{ news.text}}</p>
                    <div>
                        {{ views_count }}
                    </div>
                </div>

        </article>
    </div>
{% endblock %}