{% extends "layout.html" %}
{% load i18n %}
{% block content_wrapper %}
<article class="detail">
    <div class="header">
        <div class="dates-wrapper">
            <ul>
                {% if news.event_date %}
                    <li class="{% if news.deadline_date %}from-date{% else %}event-date{% endif %}">{{ news.event_date|date:"j E" }}</li>
                    {% if news.deadline_date %}
                        <li class="triangle">&nbsp;</li>
                    {% endif %}
                {% endif %}
                {% if news.deadline_date %}
                    <li class="to-date">{{ news.deadline_date|date:"j E" }}</li>
                {% endif %}
            </ul>
        </div>
        <h2 class="article-header">{{ news.title }}</h2>
    </div>
    <div class="image-wrapper">
        {% if news.news_photos.all|length > 1 %}
            <div id="news_slides_{{news.id  }}" class="slides">
                {% for img in news.news_photos.all %}
                    {% if img.image %}
                        <img src="{{ img.image.url }}">
                    {% elif img.preview %}
                        <img src="{{ img.preview.url }}"/>
                    {% endif %}
                {% endfor %}
            </div>
            <script>
                $(function(){
                    $("#news_slides_{{news.id}}").slidesjs({
                        //width: 400,
                        //height: 300
                    });
                });
            </script>
        {% else %}
            {% for img in news.news_photos.all %}
                {% if img.image %}
                    <img class="photo" src="{{ img.image.url }}">
                {% elif img.preview %}
                    <img class="photo" src="{{ img.preview.url }}"/>
                {% endif %}
            {% endfor %}
        {% endif %}
    </div>
    <section>
        <div class="article-description">{{ news.description|safe}}</div>
        <div class="article-text">{{ news.text|safe}}</div>
        {% if news.contacts %}
            <div class="article-text">{{ news.contacts }}</div>
        {% endif %}
        <div class="article-comments hide">
            Aliquam a lorem odio. Cras consectetur elementum ipsum sit amet dignissim. Curabitur non enim massa. Fusce dapibus turpis tellus, ac euismod elit viverra eu. Curabitur id quam lectus. Vestibulum semper rutrum ante, vel interdum elit auctor sed. Donec sagittis semper orci nec vehicula. Suspendisse vehicula diam sed arcu egestas varius. Quisque quis dui aliquet, iaculis massa consequat, euismod dui. Pellentesque ultricies tincidunt facilisis. Praesent ac dictum velit. Integer scelerisque et tortor non molestie. Vestibulum et turpis et arcu luctus egestas accumsan non lorem.
        </div>

        {% for subnews in news.subnews.all %}
            <article class="sub-article">
                <h3 class="header">{{ subnews.title }}</h3>
                <div class="article-text">{{ subnews.text|safe }}</div>
                {% if subnews.contacts %}
                    <div class="contacts">{{ subnews.contacts }}</div>
                {% endif %}
                <div class="image-wrapper">
                    {% if subnews.subnews_photos.all|length > 1 %}
                        <div id="subnews_slides_{{subnews.id  }}" class="slides">
                            {% for img in subnews.subnews_photos.all %}
                                {% if img.image %}
                                    <img src="{{ img.image.url }}">
                                {% elif img.preview %}
                                    <img src="{{ img.preview.url }}"/>
                                {% endif %}
                            {% endfor %}
                        </div>
                        <script>
                            $(function(){
                                $("#subnews_slides_{{subnews.id}}").slidesjs({
                                    //width: 400,
                                    //height: 300
                                });
                            });
                        </script>
                    {% else %}
                        {% for img in subnews.subnews_photos.all %}
                            {% if img.image %}
                                <img class="photo" src="{{ img.image.url }}">
                            {% elif img.preview %}
                                <img class="photo" src="{{ img.preview.url }}"/>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </div>
            </article>
        {% endfor %}

        <div class="article-statistic">
            <ul>
                <li class="browsing" title="Просмотров">{{ views_count }}</li>
                <li><div id="vk_like_{{ news.id }}"></div></li>
            </ul>
            <div class="cb">&nbsp;</div>
        </div>
    </section>
</article>
<script>
    VK.Widgets.Like('vk_like_{{ news.id }}',{type:'mini', pageTitle:'{{ news.title }}', pageUrl:'{{ site_domain }}{% url "fiesta:blog:single_news" news.id %}'{% with img=news.news_photos.all|first %}{% if img.preview %}, pageImage:"{{ site_domain }}{{ img.preview.url }}"{% endif %} {% endwith %}, verb:1},{{ news.id }});
</script>
{% endblock %}